name: Test
on:
  push:
    branches:
      - master
  pull_request:
env:
  ALIYUN_ACCESS_KEY_ID: ${{ secrets.ALIYUN_ACCESS_KEY_ID }}
  ALIYUN_ACCESS_KEY_SECRET: ${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}
  ALIYUN_BUCKET: ${{ secrets.ALIYUN_BUCKET }}
  ALIYUN_URL: ${{ secrets.ALIYUN_URL }}
  ALIYUN_ENDPOINT: ${{ secrets.ALIYUN_ENDPOINT }}
jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Install dependencies
        run: go mod tidy
      - name: Run tests
        run: go test -timeout 1h ./...
